{% extends 'socialMediaApp/base.html' %}
{% load static %}


{% block title %}
    Error
{% endblock %}


{% block top %}
    <div class="col-12 d-flex justify-content-center">
        <div class="alert alert-danger col-7 mt-3" role="alert">
            <p class="col-12 pl-0 pr-0">This username is already taken!</p>
            <a class="btn btn-warning col-12 col-sm-6 col-lg-3"
                href="{% url 'signUp' %}">
                Back to sign up
            </a>
        </div>
    </div>
{% endblock %}