{% extends 'socialMediaApp/base.html' %}
{% load timeProcess %}

{% block title %}
    Profile
{% endblock %}

{% block body %}
    <div>
        <h1>{{ user.email }} Profile</h1>
        {% if post_list|length > 0 %}
            <h2>Posts: </h2>
            <ul>
                {% for post in post_list %}
                    <li>
                        <a href="{% url 'postDetail' user.pk post.pk %}">
                            {{ post.title }}
                        </a>
                        {% timeProcess post.date %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h2>There is no post</h2>
        {% endif %}
        <a href="{% url 'createPost' user.pk %}">Add a post</a>
    </div>
    <div>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Search">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $("#txtSearch").autocomplete({
                source: "/ajax_calls/search/",
                minLength: 2,
              });
        });
    </script>
{% endblock %}






